body {    
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.avatar {
    width: 160px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #D8BBC5ff;
    color: #597495ff;
    border-bottom: 6px solid #974C56ff;
}
    